@import "../../UI-Kit/Styles";

.Button {
  $this: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  // height: max-content;
  // width: max-content;
  color: $alternative-text-color;
  background-color: $color-primary;
  outline: transparent;
  transition: all 0.3s;
  cursor: pointer;
  min-height: 25px;
  min-width: 85px;

  &-Text {
    margin-left: 12px;
  }

  .ButtonLoader {
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: ButtonLoaderAnimation 1s ease infinite;
  }

  &:hover {
    background-color: $color-primary-hover;
  }

  &#{$this}__disabled {
    color: $color-disabled;
    background-color: $color-disabled-secondary;
    border-color: $color-disabled-secondary;
    cursor: default;

    &:hover {
      color: $color-disabled;
      background-color: $color-disabled-secondary;
      border-color: $color-disabled-secondary;
    }
  }

  &#{$this}__isLoading {
    cursor: default;

    &:hover {
      color: $color-disabled;
      background-color: $color-disabled-secondary;
      border-color: $color-disabled-secondary;
    }

    &#{$this} label {
      visibility: hidden;
      opacity: 0;
    }
  }

  &#{$this}__small {
    font-size: 14px;
  }
  &#{$this}__medium {
    font-size: 16px;
  }
  &#{$this}__large {
    font-size: 18px;
  }

  &#{$this}__border {
    background: none;
    color: $basic-text-color;
    border: 1px solid $color-border;
    transition: .3s;
  }

  &#{$this}__border:hover {
    background: none;
    color: $basic-text-color;
    border: 1px solid $color-border-hover;
  }

  &#{$this}__medium {
    font-size: 16px;
  }
  &#{$this}__large {
    font-size: 18px;
  }
}

@keyframes ButtonLoaderAnimation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
