// General
$color-primary: #3B73B0; /* #B0976A */
$color-primary-hover: #463BB0; /* #997E4D */

$color-disabled: rgba(191, 191, 191, 1); /* #BFBFBF */
$color-disabled-secondary: rgba(245, 245, 245, 1); /* #F5F5F5 */

// Input
$input-primary: #a3a3a3;
$input-isFocused: #6AA1CD;
$input-disabled: #c9c9c9;

